/* latin */
@font-face {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  src: local('Solway Regular'), local('Solway-Regular'), url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo8sOUcUw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: Solway;
}

.true {
  color: rgb(23, 150, 29);
  transition: 0.7s;
  text-decoration: line-through;
}


.false {
  color: black;
  transition: 0.5s;
}

ul {
  margin: 0 auto;
  width: 30%;
  list-style: none;
}

li {
  text-align: center;
}

h1 {
  text-align: center;
}

.todoForm {
  padding: 20px;
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  border: 2px solid black;
  margin: 3px;
  border-radius: 3px;
}

button {
  padding: 10px;
  border: 2px solid black;
  margin: 3px;
  border-radius: 3px;
  transition: 0.4s;
}

button:hover {
  color: white;
  background-color: black;
  transition: 0.4s;
}

.clearTodosWrapper {
display: flex;
justify-content: center;
}